@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #081b29;
    --main-color: #ea5f30;
    --text-color: #333;
    --second-text-color: #555;
    --white-color: #fff;
    --cover-color: linear-gradient(45deg, #972f0d, #ea5f30);
    --pages-color: linear-gradient(90deg, #fff, #eeeeee);
    --border: 0.125rem solid #ea5f30;
    --box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2rem;
    perspective: 250rem;
    animation: show-animate 2s forwards;
}

@keyframes show-animate {
    0%,
    30% {
        opacity: 0;
        transform: rotate(-20deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    transform-origin: right;
}

.cover.cover-left {
    z-index: -1;
}

.cover.cover-right {
    z-index: 100;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cover.cover-right.turn {
    transform: rotateY(180deg);
}

.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
}

.book .book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 2rem;
}

.book.page-left {
    box-shadow: -0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.1);
}

.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-page img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.8rem;
}


.profile-page h1 {
    font-size: 2.7rem;
    line-height: 1;
}

.profile-page h3 {
    font-size: 1.3rem;
    color: #ea5f30;
}

.profile-page .social-media {
    margin: 0.6rem 0 0.8rem;
}

.profile-page .social-media a {
    display: inline-flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: var(--border);
    border-radius: 50%;
    font-size: 1.3rem;
    color: #ea5f30;
    margin: 0.2rem;
    transition: 0.5s;
}

.profile-page .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.profile-page p {
    text-align: justify;
}

.profile-page .btn-box {
    margin-top: 1.2rem;
}

.btn {
    display: inline-flex;
    width: 9.5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background: #ea5f30;
    border: var(--border);
    border-radius: 0.3rem;
    font-size: 0.9rem;
    color: var(--white-color);
    font-weight: 500;
    margin: 0 1rem;
    transition: 0.5s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    background: var(--main-color);
    color: var(--white-color);
}

.book-page.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    padding: 1.5rem 2rem;
    transform-origin: left;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.book-page.page-right.turn {
    transform: rotateY(-180deg);
}

.book-page .page-front,
.book-page .page-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    padding: 1.5rem 2rem;
}

.book-page .page-front {
    transform: rotateY(0deg) translateZ(1px);
}

.book-page .page-back {
    transform: rotateY(180deg) translateZ(1px);
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.edu-box {
    border-left: var(--border);
}

.edu-box .edu-content {
    position: relative;
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
}

.edu-box .edu-content p {
    font-size: small;
}

.edu-box .edu-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.65rem;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.edu-content .year {
    color: var(--main-color);
}

.edu-content .year i {
    margin-right: 0.4rem;
}

.number-page {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.nextprev-btn {
    position: absolute;
    bottom: 0.9rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--second-text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.nextprev-btn:hover {
    color: var(--main-color);
}

.nextprev-btn.back {
    left: 1.5rem;
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services-box .services-content {
    flex: 1 1 10rem;
    border: var(--border);
    border-radius: 0.5rem;
    text-align: center;
    font-size: small;
    padding: 0.8rem 0.5rem 1.1rem;
    transition: 0.3s ease;
}

.services-box .services-content:hover {
    box-shadow: var(--box-shadow);
}

.services-content i {
    font-size: 1.4rem;
    color: var(--main-color);
}

.services-content h3 {
    font-size: 1.1rem;
}

.services-content p {
    margin: 0.1rem;
}

.skill-box {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.skill-box .skill-content {
    flex: 1 1 20rem;
}

.skill-content {
    line-height: 1;
    margin-bottom: 0.6rem;
    font-size: smaller;
}

.skill-content .content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.skill-content .content span {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.skill-content .content span:hover {
    box-shadow: var(--box-shadow);
}

.skill-content .content span i {
    font-size: 1.3rem;
    color: var(--main-color);
}

.contact-box {
    text-align: center;
}

.contact-box .field {
    width: 100%;
    background: transparent;
    border: var(--border);
    border-radius: 0.3rem;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.contact-box .field::placeholder {
    color: var(--text-color);
}

.contact-box textarea {
    resize: none;
    height: 15rem;
}

.contact-box .btn {
    cursor: pointer;
}

.back-profile {
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: var(--border);
    border-radius: 0.3rem;
    font-size: 1.1rem;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.back-profile:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.back-profile p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    font-size: 1rem;
    color: var(--main-color);
    opacity: 0;
    transition: 0.5s;
}

.back-profile:hover p {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    top: -1.8rem;
}
